.root {
	-fx-base : rgb(220.0,220.0,220.0);
}/*Base Color */


/*Start Button */
.button {
	-fx-font-size: 15.0;
	-fx-border-color: rgb(40.0,190.0,31.0);
	-fx-border-radius: 20.0px;
	-fx-border-width: 2.0px;
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
}

.button:hover {
	-fx-border-color: rgb(30.0,190.0,131.0);
	-fx-cursor: hand;
}

.button:armed {
	-fx-border-color: rgb(130.0,190.0,31.0);
	-fx-cursor: hand;
}
/*End Button */

/*Start Tool-button*/
.tool-button{
    -fx-border-color: transparent;
    -fx-border-width: 2.0px;
}
.tool-button:hover{
    -fx-border-width: 2.0px;
}
.tool-button:armed {
    -fx-background-color: derive(-fx-base, 10%);
    -fx-border-width: 2.0px;
}
/*End Tool-button*/

/*Start Textfield */
.text-field {
    -fx-background-color: #a9a9a9 , rgb(220.0,220.0,220.0) , rgb(220.0,220.0,220.0);
    -fx-background-insets: 0.0 -1.0 -1.0 -1.0, 0.0 0.0 0.0 0.0, 0.0 -1.0 9.0 -1.0;
}

.text-field:focused {
	-fx-prompt-text-fill: rgb(20.0,20.0,20.0);
	-fx-border-color: rgb(40.0,190.0,31.0);
	-fx-background-insets: 0.0;
}
/*End Textfield */



/*Start Textarea */
.text-area {
    -fx-background-color: #a9a9a9 , rgb(220.0,220.0,220.0) , rgb(220.0,220.0,220.0);
}

.text-area:focused {
	-fx-prompt-text-fill: rgb(20.0,20.0,20.0);
	-fx-border-color: rgb(40.0,190.0,31.0);
	-fx-background-insets: 0.0;
}
/*End Textarea */


.pane {
	-fx-background-color: rgb(220.0,220.0,220.0);
}/*Pane */

.buttonlist {
	-fx-background-color: rgb(220.0,220.0,220.0);
}/*ButtonList */


/*Start ListView */
.list-view{
	-fx-background-color: #a9a9a9 , rgb(220.0,220.0,220.0) , rgb(220.0,220.0,220.0);
}

.list-view:focused{
	-fx-background-color: #a9a9a9 , rgb(220.0,220.0,220.0) , rgb(220.0,220.0,220.0);
}
/*End Listview */


/*Start TabPane */
.tab-pane{
	-fx-background-color: rgb(220.0,220.0,220.0);
}

.tab-pane:focused{
	-fx-border-color: rgb(40.0,190.0,31.0, 0.0);
	-fx-background-insets: 0.0;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0.0;
}

.tab-pane{
    -fx-tab-min-width:90.0px;
}

.tab{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}

.tab-pane .tab {
    -fx-background-color: rgb(220.0,220.0,220.0);

}

.tab-pane .tab:selected{
    -fx-background-color: rgb(240.0,240.0,240.0);
}

.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(40.0,190.0,31.0);
}
/*End TabPane */

.tool-bar{
    -fx-background-color: derive(-fx-base, 20.0%);
}/*Toolbar*/

/*Start Menu */

.menu-bar{
    -fx-background-color: derive(-fx-base, 30.0%);
}

.menu:hover {
	-fx-background-color: rgb(40.0,190.0,31.0);
}

.menu:hover .label{
	-fx-text-fill: black;
}

.menu:showing {
	-fx-background-color: rgb(40.0,190.0,31.0);
}

.menu:showing .label{
	-fx-text-fill: black;
}

.menu .label {
	-fx-text-fill: black;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
     -fx-background-color: rgb(40.0,190.0,31.0);
}

.menu-item:focused .label {
    -fx-text-fill: white;
}
/*End Menu */

.context-menu {
    -fx-background-color: rgb(200.0,200.0,200.0);
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}/*Contexmenu */


/*Start ListCell */
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: rgb(40.0,190.0,31.0);
    -fx-text-fill: white;
}

.list-cell {
	-fx-text-fill: black;
}

.list-cell:odd {
	-fx-background-color: white;
}

.list-cell:even {
	-fx-background-color: lightgray;
}

.list-cell:filled:hover {
    -fx-background-color: rgb(140.0,190.0,31.0);
    -fx-text-fill: white;
}
/*End ListCell */


/*Start ComboBox */
.combo-box-base {	
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
    -fx-border-color: rgb(40.0,190.0,31.0);
    -fx-border-radius: 20.0px;
	-fx-border-width: 2.0px;
    -fx-padding: 0.0;
}

.combo-box-base:hover {
    -fx-border-color: rgb(30.0,190.0,131.0);
    -fx-cursor: hand;
}

.combo-box-base:showing {
	-fx-border-color: rgb(130.0,190.0,31.0);
}
.combo-box .cell:selected {
	-fx-text-fill: rgb(40.0,190.0,31.0);
    -fx-background-color: rgba(255.0,255.0,255.0,0.0);
}
/*End ComboBox */


/*Start Separator */
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: rgba(255.0,255.0,255.0,0.0);
   -fx-border-width: 2.0px;
   -fx-border-radius: 20.0px;
   -fx-border-color: rgb(40.0,190.0,31.0);
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: rgba(255.0,255.0,255.0,0.0);
   -fx-border-width: 2.0px;
   -fx-border-radius: 20.0px;
   -fx-border-color: rgb(40.0,190.0,31.0);
}
/*End Separator */
