#All gradle files
.gradle

Build files
build
out
versions

# Eclipse
bin
.settings
.project
.classpath


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Windows
Thumbs.db

# Intellij
.idea/
classes
/scenicView.properties
jarCopys/
