* {
	-base-normal: rgb(40.0,190.0,31.0);
	-base-hover: rgb(30.0,190.0,131.0);
	-base-armed: rgb(130.0,190.0,31.0);
}

.root {
	-fx-base : rgb(220.0,220.0,220.0);
}/*Base Color */


/*Start Button */
.button {
	-fx-font-size: 15.0;
	-fx-border-color: -base-normal;
	-fx-border-radius: 20.0px;
	-fx-border-width: 2.0px;
	-fx-background-color: transparent;
}

.button:hover {
	-fx-border-color: -base-hover;
	-fx-cursor: hand;
}

.button:armed {
	-fx-border-color: -base-armed;
	-fx-cursor: hand;
}
/*End Button */

/*Start Tool-button*/
.tool-button{
    -fx-border-color: transparent;
    -fx-border-width: 2.0px;
}
.tool-button:hover{
    -fx-border-width: 2.0px;
}
.tool-button:armed {
    -fx-background-color: derive(-fx-base, 10%);
    -fx-border-width: 2.0px;
}
/*End Tool-button*/

/*Start TextField */
.text-field {
    -fx-background-color: #a9a9a9 , -fx-base, -fx-base;
    -fx-background-insets: 0.0 -1.0 -1.0 -1.0, 0.0 0.0 0.0 0.0, 0.0 -1.0 9.0 -1.0;
}

.text-field:focused {
	-fx-prompt-text-fill: rgb(20.0,20.0,20.0);
	-fx-border-color: -base-normal;
	-fx-background-insets: 0.0;
}
/*End TextField */



/*Start TextArea */
.text-area {
    -fx-background-color: #a9a9a9 , -fx-base, -fx-base;
    -fx-border-radius: 0.0px;
}

.text-area:focused {
	-fx-prompt-text-fill: rgb(20.0,20.0,20.0);
	-fx-background-insets: 0.0;
}
/*End TextArea */


.pane {
	-fx-background-color: -fx-base;
}/*Pane */

.button-list {
	-fx-background-color: -fx-base;
}/*ButtonList */


/*Start ListView */
.list-view{
	-fx-background-color: #a9a9a9 , -fx-base, -fx-base;
}

.list-view:focused{
	-fx-background-color: #a9a9a9 , -fx-base, -fx-base;
}
/*End ListView */


/*Start TabPane */
.tab-pane{
	-fx-background-color: -fx-base;
}

.tab-pane:focused{
	-fx-border-color: -base-normal;
	-fx-background-insets: 0.0;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0.0;
}

.tab-pane{
    -fx-tab-min-width:90.0px;
}

.tab{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}

.tab-pane .tab {
    -fx-background-color: -fx-base;

}

.tab-pane .tab:selected{
    -fx-background-color: rgb(240.0,240.0,240.0);
}

.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: -base-normal;
}
/*End TabPane */

.tool-bar{
    -fx-background-color: derive(-fx-base, 20.0%);
}/*Toolbar*/

/*Start Menu */

.menu-bar{
    -fx-background-color: derive(-fx-base, 30.0%);
}

.menu:hover {
	-fx-background-color: -base-normal;
}

.menu:hover .label{
	-fx-text-fill: black;
}

.menu:showing {
	-fx-background-color: -base-normal;
}

.menu:showing .label{
	-fx-text-fill: black;
}

.menu .label {
	-fx-text-fill: black;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
     -fx-background-color: -base-normal;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}
/*End Menu */

.context-menu {
    -fx-background-color: rgb(200.0,200.0,200.0);
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}/*ContextMenu */


/*Start ListCell */
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -base-normal;
    -fx-text-fill: white;
}

.list-cell {
	-fx-text-fill: black;
}

.list-cell:odd {
	-fx-background-color: white;
}

.list-cell:even {
	-fx-background-color: lightgrey;
}

.list-cell:filled:hover {
    -fx-background-color: rgb(140.0,190.0,31.0);
    -fx-text-fill: white;
}
/*End ListCell */


/*Start ComboBox */
.combo-box-base {	
	-fx-background-color: transparent;
    -fx-border-color: -base-normal;
    -fx-border-radius: 20.0px;
	-fx-border-width: 2.0px;
    -fx-padding: 0.0;
}

.combo-box-base:hover {
    -fx-border-color: -base-hover;
    -fx-cursor: hand;
}

.combo-box-base:showing {
	-fx-border-color: -base-armed;
}
.combo-box .cell:selected {
	-fx-text-fill: -base-normal;
    -fx-background-color: transparent;
}
/*End ComboBox */


/*Start Separator */
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
   -fx-border-width: 2.0px;
   -fx-border-radius: 20.0px;
   -fx-border-color: -base-normal;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
   -fx-border-width: 2.0px;
   -fx-border-radius: 20.0px;
   -fx-border-color: -base-normal;
}

.separator .line {
    -fx-border-color: -base-normal;
    -fx-border-width: 1.0px;
}
/*End Separator */

.tooltip {
    -fx-background-color: -fx-base;
    -fx-text-fill: black;
}/*Tooltip*/

/*Table*/
.table-view {
    -fx-control-inner-background: derive(-fx-base, 20%);
    -fx-background-color: -fx-base;
    -fx-table-cell-border-color: -base-normal;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: -fx-base;
}

.table-view .column-header, .table-view .filler {
    -fx-border-radius: 20.0px;
	-fx-border-width: 1.0px;
	-fx-background-color: transparent;
	-fx-border-color: -base-normal;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -base-armed;
}

/*End Table*/

.hyperlink{
    -fx-text-fill: derive(-base-normal, 20%);
}/*Hyperlink*/

/*Tree-View*/

/*End Tree-View*/