* {
	-base-normal: rgb(90,127,180);
}

.root {
	-fx-base : rgb(50.0,50.0,50.0);
}/*Base Color */


/*Start Button */
.button {
	-fx-font-size: 15.0;
	-fx-text-fill: white;
	-fx-border-radius: 0.0px;
	-fx-border-width: 2.0px;
	-fx-background-color: transparent;
	-fx-border-color: -base-normal;
}

.button:hover {
	-fx-border-color: derive(-base-normal ,-10.0%);
	-fx-cursor: hand;
}

.button:armed {
	-fx-border-color:  derive(-base-normal ,-20.0%);
	-fx-cursor: hand;
}
/*End Button */

/*Start Tool-button*/
.tool-button{
    -fx-border-color: transparent;
    -fx-border-width: 2.0px;
}
.tool-button:hover{
    -fx-border-width: 2.0px;
}
.tool-button:armed {
    -fx-background-color: derive(-fx-base, 10%);
    -fx-border-width: 2.0px;
}
/*End Tool-button*/

/*Start TextField */
.text-field {
    -fx-background-color: transparent;
    -fx-border-color: -base-normal;
    -fx-border-radius: 0.0px;
    -fx-text-fill: derive(white,-20.0%);
    -fx-background-insets: 0.0;
}

.text-field:focused {
	-fx-prompt-text-fill: white ;
	-fx-text-fill: white;
	-fx-border-color: derive(-base-normal, -20.0%);
	-fx-background-insets: 0.0;
}
/*End TextField */



/*Start TextArea */
.text-area {
	-fx-background-color: derive(-fx-base, 10.0%);
    -fx-text-fill: white;
    -fx-border-radius: 0.0px;
}

.text-area .content{
	-fx-background-color: derive(-fx-base, 10.0%);
}

.text-area:focused {
	-fx-prompt-text-fill: white;
	-fx-text-fill: white;
}
/*End TextArea */


.pane {
	-fx-background-color: derive(-fx-base, 10.0%);
}/*Pane */

.button-list {
	-fx-background-color: -fx-base;
}/*ButtonList */


/*Start ListView */
.list-view{
	-fx-background-color: -fx-base;
}

.list-view:focused{
	-fx-background-color: -fx-base;
}
/*End ListView */


/*Start TabPane */
.tab-pane{
	-fx-background-color: -fx-base;
	/*-fx-border-color: -base-normal;
	-fx-border-radius: 0.0px;*/
}

.tab-pane:focused{
	/*-fx-border-color: derive(-base-normal, -20.0%);
	-fx-border-radius: 0.0px;*/
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0.0;
}

.tab-pane{
    -fx-tab-min-width:90.0px;
}

.tab{
    -fx-background-insets: 0.0;
    -fx-border-color: -base-normal;
	-fx-border-radius: 0.0px;
}

.tab-pane .tab:selected{
    -fx-background-color: derive(-fx-base, 10.0%);
    -fx-border-color: derive(-base-normal, -20.0%);
	-fx-border-radius: 0.0px;
}

.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: derive(white,-20.0%);
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}
/*End TabPane */

.tool-bar{
    -fx-background-color: derive(-fx-base, 20.0%);
}/*Toolbar*/

/*Start Menu */

.menu-bar{
    -fx-background-color: derive(-fx-base, 30.0%);
}

.menu:hover {
	-fx-background-color: derive(-base-normal, -20.0%);
}

.menu:hover .label{
	-fx-text-fill: white;
}

.menu:showing {
	-fx-background-color: -base-normal;
}

.menu:showing .label{
	-fx-text-fill: white;
}

.menu .label {
	-fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: -base-normal;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}
/*End Menu */

.context-menu {
    -fx-background-color: derive(-fx-base,20.0%);
    -fx-background-radius: 0.0px;
}/*ContextMenu */


/*Start ListCell */
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -base-normal;
    -fx-text-fill: white;
}

.list-cell {
	-fx-text-fill: white;
}

.list-cell:odd {
	-fx-background-color: derive(-fx-base,5.0%);
}

.list-cell:even {
	-fx-background-color: derive(-fx-base,-5.0%);
}

.list-cell:filled:hover {
    -fx-background-color: derive(-base-normal, -20.0%);
    -fx-text-fill: white;
}
/*End ListCell */


/*Start ComboBox */
.combo-box-base {	
	-fx-background-color: transparent;
    -fx-border-color: -base-normal;
    -fx-border-radius: 0;
	-fx-border-width: 2.0px;
    -fx-padding: 0.0;
}

.combo-box-base:hover {
    -fx-border-color: derive(-base-normal, -10.0%);
    -fx-cursor: hand;
}

.combo-box-base:showing {
	-fx-border-color:  derive(-base-normal, -20.0%);
}
.combo-box .cell:selected {
	-fx-text-fill: white;
    -fx-background-color: transparent;
}
/*End ComboBox */


/*Start Separator */
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
   -fx-border-width: 2.0px;
   -fx-border-radius: 0.0px;
   -fx-border-color: -base-normal;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
   -fx-border-width: 2.0px;
   -fx-border-radius: 0.0px;
   -fx-border-color: -base-normal;
}

.separator .line {
    -fx-border-color: -base-normal;
    -fx-border-width: 1.0px;
}
/*End Separator */

.tooltip {
    -fx-background-color: -fx-base;
    -fx-text-fill: white;
}/*Tooltip*/

/*Table*/
.table-view {
    -fx-control-inner-background: derive(-fx-base, 20%);
    -fx-background-color: -fx-base;
    -fx-table-cell-border-color: -base-normal;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: -fx-base;
}

.table-view .column-header, .table-view .filler {
    -fx-border-radius: 0.0px;
	-fx-border-width: 1.0px;
	-fx-background-color: transparent;
	-fx-border-color: -base-normal;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -base-normal;
}
/*End Table*/

.hyperlink{
    -fx-text-fill: derive(-base-normal, 20%);
}/*Hyperlink*/

/*Tree-View*/
.tree-view {
    -fx-border-radius: 0.0px;
    -fx-border-width: 1.0px;
    -fx-background-color: derive(-fx-base, 10%);
    -fx-border-color: -base-normal;
}
.tree-cell{
    -fx-text-fill: white;
    -fx-background-color: -fx-base;
}

.tree-cell:selected {
    -fx-background-color: -base-normal;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

/*End Tree-View*/