/*Tree-View*/
.tree-view {
    -fx-border-radius: 0.0px;
    -fx-border-width: 1.0px;
    -fx-background-color: derive(-fx-base, 10%);
    -fx-border-color: -base-normal;
}
.tree-cell{
    -fx-text-fill: white;
    -fx-background-color: -fx-base;
}

.tree-cell:selected {
    -fx-background-color: -base-normal;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}
/*End Tree-View*/