.button {
    -fx-border-color: -base-normal;
    -fx-border-radius: 10.0px;
    -fx-border-width: 2.0px;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-border-color: -base-hover;
    -fx-cursor: hand;
    -fx-background-color: -base-hover;
    -fx-border-color: -base-hover;
    -fx-background-radius: 10.0px;
}

.button:armed {
    -fx-border-color: -base-armed;
    -fx-cursor: hand;
    -fx-background-color: -base-armed;
    -fx-border-color: -base-armed;
    -fx-background-radius: 10.0px;
}

.tool-button {
    -fx-border-color: transparent;
}

.tool-button:hover {
    -fx-background-color: transparent;
}

.tool-button:armed {
    -fx-background-color: transparent;
}