<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>

        <!-- Console output with filename -->
        <Console name="ConsoleFull" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] [%logger{36}]: %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>

        <!-- Console-error output with filename -->
        <Console name="ConsoleFullError" target="SYSTEM_ERR">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] [%logger{36}]: %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="trace" onMatch="DENY" onMismatch="DENY"/>
            </Filters>
        </Console>

        <!-- Console output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] [%C{1}]: %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>

        <!-- Console output -->
        <Console name="ConsoleError" target="SYSTEM_ERR">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] [%C{1}]: %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="trace" onMatch="DENY" onMismatch="DENY"/>
            </Filters>
        </Console>

        <!-- File output with filename-->
        <!--<RollingFile name="RollingFileFull" fileName="${sys:logFolder}logs/${date:yyyy-MM-dd_hh-mm-ss}.log">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] [%logger{36}]: %msg%n"/>
            <DirectWriteRolloverStrategy maxFiles="50"/>
        </RollingFile>-->

        <RollingFile name="RollingFileFull" fileName="${sys:logFolder}/logs/latest.log"
                     filePattern="${sys:logFolder}/logs/${date:yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] [%logger{36}]: %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>


    </Appenders>
    <Loggers>

        <!-- Currently no use -->
        <Logger name="ServerController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="RollingFileFull"/>
        </Logger>

        <!--Default logger for all packages-->
        <Logger name="se7kn8.servercontroller" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="RollingFileFull"/>
        </Logger>

        <Logger name="SYSOUT" level="debug" additivity="false">
            <AppenderRef ref="ConsoleFull"/>
            <AppenderRef ref="RollingFileFull"/>
        </Logger>

        <Logger name="SYSERR" level="debug" additivity="false">
            <AppenderRef ref="ConsoleFullError"/>
            <AppenderRef ref="RollingFileFull"/>
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="ConsoleFull"/>
            <AppenderRef ref="ConsoleFullError"/>
            <AppenderRef ref="RollingFileFull"/>
        </Root>
    </Loggers>
</Configuration>