.button{
	-fx-font-size: 15.0;
	-fx-border-color: rgb(40.0,190.0,31.0);
	-fx-border-radius: 20.0px;
	-fx-border-width: 2.0px;
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
}
.button:hover{
	-fx-border-color: rgb(30.0,190.0,131.0);
	-fx-cursor: hand;
}
.button:armed{
	-fx-border-color: rgb(130.0,190.0,31.0);
	-fx-cursor: hand;
}
.text-field{
    -fx-background-color: #a9a9a9 , rgb(220.0,220.0,220.0) , rgb(220.0,220.0,220.0);
    -fx-background-insets: 0.0 -1.0 -1.0 -1.0, 0.0 0.0 0.0 0.0, 0.0 -1.0 9.0 -1.0;
}
.text-field:focused{
	-fx-prompt-text-fill: rgb(20.0,20.0,20.0);
	-fx-border-color: rgb(40.0,190.0,31.0);
	-fx-background-insets: 0.0;
}
.text-area{
    -fx-background-color: #a9a9a9 , rgb(220.0,220.0,220.0) , rgb(220.0,220.0,220.0);
}
.text-area:focused{
	-fx-prompt-text-fill: rgb(20.0,20.0,20.0);
	-fx-border-color: rgb(40.0,190.0,31.0);
	-fx-background-insets: 0.0;
}
.pane{
	-fx-background-color: rgb(220.0,220.0,220.0);
}
.list-view{
	-fx-background-color: #a9a9a9 , rgb(220.0,220.0,220.0) , rgb(220.0,220.0,220.0);
}
.list-view:focused{
	-fx-border-color: rgb(40.0,190.0,31.0);
	-fx-background-insets: 0.0;
}
.tab-pane{
	-fx-background-color: rgb(220.0,220.0,220.0);
}
.tab-pane:focused{
	-fx-border-color: rgb(40.0,190.0,31.0, 0.0);
	-fx-background-insets: 0.0;
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0.0;
}

.tab-pane{
    -fx-tab-min-width:90.0px;
}

.tab{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}
.tab-pane .tab {
    -fx-background-color: rgb(220.0,220.0,220.0);

}

.tab-pane .tab:selected{
    -fx-background-color: rgb(240.0,240.0,240.0);
}

.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(40.0,190.0,31.0);
}