/*Start Menu */

.menu-bar{
    -fx-background-color: derive(-fx-base, 30.0%);
}

.menu:hover {
	-fx-background-color: derive(-base-normal, -20.0%);
}

.menu:hover .label{
	-fx-text-fill: white;
}

.menu:showing {
	-fx-background-color: -base-normal;
}

.menu:showing .label{
	-fx-text-fill: white;
}

.menu .label {
	-fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: -base-normal;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}
/*End Menu */

.context-menu {
    -fx-background-color: derive(-fx-base,20.0%);
    -fx-background-radius: 0.0px;
}/*ContextMenu */