/*Table*/
.table-view {
    -fx-control-inner-background: derive(-fx-base, 20%);
    -fx-background-color: -fx-base;
    -fx-table-cell-border-color: -base-normal;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: -fx-base;
}

.table-view .column-header, .table-view .filler {
    -fx-border-radius: 0.0px;
	-fx-border-width: 1.0px;
	-fx-background-color: transparent;
	-fx-border-color: -base-normal;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -base-normal;
}
/*End Table*/