.tab-pane {
    -fx-background-color: -fx-base;
    -fx-border-color: derive(-fx-base, -10%);
    -fx-border-width: 1px;
    -fx-tab-min-width: 80.0px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -fx-base;
}

.tab {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tab:selected {
    -fx-border-insets: 0 0 -1 0, 0 0 0 0, 0 -1 7 -1;
    -fx-border-radius: 5px;
    -fx-border-color: -base-normal;
    -fx-background-color: derive( -fx-base, -10%);
}

.tab:selected .focus-indicator{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}