.tree-view {
    -fx-background-color: -fx-base;
}

.tree-view:focused {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0, 1;
}

.tree-cell {
    -fx-background-color: -fx-base;
}

.tree-cell:filled:hover {
    -fx-background-color: -base-normal;
}

.tree-cell:selected {
    -fx-background-color: -base-hover;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: black;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: black;
}